* {
    margin-top: 0;
    padding: 0;
}

body {
    background-color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
}

.container {
    height: 100%;
    width: 100%;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #f6f6f6;
}

.nav_right {
    text-align: right;
}

.nav_logo_pic {
    height: 70px;
    width: 70px;
    float: left;
    margin-top: 20px;
    margin-left: 150px;
    cursor: progress;
}



.nav_right li {
    display: inline-block;
    margin: 30px;
    list-style: none;
}

.nav_right ul {
    margin-right: 150px;
}


.nav_right li a {
    text-decoration: none;
    color: #379683;
    font-size: 1.2rem;
    font-weight: 550;
}

.nav_right li a:hover {
    color: #6ECB63;
}

.nav_right span {
    font-size: 28px;
    cursor: pointer;
    display: none;
}



/* css codes for main section*/


.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
    margin-top: 120px;
}

.main div {
    margin-top: 50px;
    margin-bottom: 20px;
    flex-basis: 410px;
}

.main h1 {
    font-family: 'The Nautigal', cursive;
    font-size: 4.2rem;
    line-height: 50px;
}

.main h2 {
    font-size: 1.15rem;
    font-weight: 600;
    color: #7eb62f;
    margin: 1rem 0;
}

.main img {
    height: 70%;
    width: 70%;
}

.main p.home_intro {
    line-height: 1.8rem;
    text-align: left;
}

.main p.home_intro span {
    font-weight: bold;
}

.main p.btn {
    height: 20px;
    width: 100px;
    background-color: #2FDD92;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.btn i.fas {
    background-color: #2FDD92;
}

/*css for connection section*/

.connection {
    margin-left: 150px;

}

.connection i.far {
    color: #EA5C2B;
    font-size: 25px;
    cursor: pointer;
}

.connection i.fa-linkedin {
    color: #0a66a2;
    font-size: 25px;
    cursor: pointer;
}

.connection i.fa-github {
    font-size: 25px;
    cursor: pointer;
}

/* css for about section*/

.sections {
    margin-top: 150px;
    margin-left: 150px;
}

.sections h1 {
    font-family: 'The Nautigal', cursive;
    font-size: 4.2rem;
}

/*css for footer*/
footer {
    text-align: center;
    font-size: 13px;
}


/* css codes for responsive designs*/

@media only screen and (max-width: 1200px) {

    /*css for nav section*/

    .nav_logo_pic {
        margin-top: auto;
        margin-left: 30px;
    }

    .nav_right span {
        display: block;
        margin-top: 10px;
        margin-right: 25px;
    }

    .nav_right ul {
        margin-right: 25px;
    }

    .nav_right li {
        display: block;
        margin: 20px 0;
    }

    .nav_right ul {
        display: none;
    }

    .connection {
        margin-left: 40px;
    }


    footer {
        margin-top: 100vh;
    }


}

/*css for section*/
@media only screen and (max-width: 1200px) {}