
body {
    background-color: #f6f6f6;
    margin-top: 25px;
}

header {
    width: 100%;
    line-height: 1px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo {
    color: red;
    padding: 50px 0 30px 80px;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

.nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    position: relative;
    bottom: 50px;
}

.nav li {
    text-decoration: none;
    font-size: 28px;
    padding-right: 30px;
}

.nav li a {
    text-decoration: none;
    font-size: 28px;
}



