
* {
    background-color: #f6f6f6;
    margin-top: 0;
    padding: 0;
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
}

.nav {
    background-color: red;
}

.nav_right {
    text-align: right;
}

.nav_logo_pic {
    height: 45px;
    float: left;
    margin-left: 20px;
}

.nav_right li{
    display: inline-block;
    margin: 20px;
    list-style: none;
}

.nav_right li a {
    text-decoration: none;
    color: #379683;
    font-size: 1rem;
}

.nav_right span {
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 700px) {

    .nav_right span {
        display: block;
    }

    .nav_right li {
        display: block;
    }

}


